<!DOCTYPE html>
<html>
    <head>
        <title>SMI Converter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <div class="box">
            <div>
                <div id="inputBox">
                    <textarea id="wordlist" class="input-box"></textarea>
                </div>
                <div id="outputBox" class="output-box">
                </div>
            </div>
            <br/>
            <div class="btn-wrap">
                <a id="btnConvert" href="#none">검색</a>
                <a id="btnSave" class="last-btn" href="#none">저장</a>
            </div>
        </div>
    </body>
</html>